.git
.github
.idea
.tmp
.venv
frontend/.dart_tool
frontend/.idea
frontend/build
frontend/windows/flutter
frontend/android/.gradle
frontend/android/app/build
backend/__pycache__
backend/app/__pycache__
ai_engine/__pycache__
**/__pycache__
**/*.pyc
server.err
server.out
